sudo: required
services:
  - docker
before_install:
  - docker build -t logan-exe/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true logan-exe/docker-react npm run test
deploy:
  provider: elasticbeanstalk
  region: "ap-south-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-ap-south-1-092223971746"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY

  secret_access_key:
    secure: $AWS_SECRET_KEY
