language: generic
sudo: required
services:
  - docker
before_install:
  - docker build -t logan-exe/docker-react -f Dockerfile.dev
script:
  - docker run -e CI=true logan-exe/docker-react npm run test
